# Copy to .env and adjust as needed
#Container and Image Settings
TZ=timezone_region/city
APP_VERSION=application_version
APP_BUILD=application_build_number
CONTAINER_REPO=image_repo
CONTAINER_IMAGE=image_name
CONTAINER_TAG=image_tag
REPO_USERNAME=repo_username
REPO_PASSWORD=repo_password/personal_access_token
CONTAINER_NAME=container_name
CONTAINER_COUNT=2
HOST_PORT=9000

#Container Repository Settings
CONTAINER_REPO=repository_name
REPO_USERNAME=repository_username
REPO_PASSWORD=repository_password_or_token
#REPO_TAG=latest # Optional repo tag, defaults to CONTAINER_TAG